<div class="row title-container">
    <div class="row">
        <div class="col-sm-2">
            <i class="fas fa-hourglass-half fa-sm"></i> Cargado y en revisión
        </div>
        <div class="col-sm-2">
            <i class="fas fa-check-circle fa-sm green-text"></i> Aprovado
        </div>
        <div class="col-sm-2">
            <i class="fas fa-times-circle red-text"></i> Rechazado
        </div>
        <div class="col-sm-6">
            <i class="fas fa-info-circle cyan-text"></i> Observaciones
        </div>
    </div>
</div>
