<div class="panel-body">
    <div class="row">
        @using (Html.BeginForm("GetSetTestResult", "RadianApproved", FormMethod.Post))
        {
            <div class="panel-heading text-right">
                <button type="submit" class="btn btn-success btn-radian-success"></button>
            </div>
        }
    </div>
</div>
