<div class="panel-body">
    <div class="row">
        @using (Html.BeginForm("GetSetTestResult", "RadianApproved", FormMethod.Post))
        {
        <div class="panel-footer text-right">
            <button type="submit" class="btn btn-success btn-radian-success">Set de pruebas</button>
        </div>
        }
    </div>
</div>
