
@{
    ViewBag.title = "Titulo";
}
<div class="page-content">
    <div class="row title-container">
        <p class="title-view">
            @ViewBag.title
        </p>
        <div class="underline-title"></div>
    </div>
    <div class="row margin-horizontal-0">
        <div class="panel">
            <div class="panel-body padding-top-20">
                <div id="example-basic">
                    <h3 styles="display:none">Keyboard</h3>
                    <section>
                        <p>Try the keyboard navigation by clicking arrow left or right!</p>
                    </section>
                    <h3 styles="display:none">Effects</h3>
                    <section>
                        <p>Wonderful transition effects.</p>
                    </section>
                    <h3 styles="display:none">Pager</h3>
                    <section>
                        <p>The next and previous buttons help you to navigate through your content.</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#example-basic").steps({
                headerTag: "h3",
                bodyTag: "section",
                transitionEffect: "slideLeft",
                autoFocus: true
            });
        })
    </script>
}