@model Gosocket.Dian.Web.Models.RadianApproved.RadianApprovedViewModel
@{
    ViewBag.title = "Titulo";
}
<div class="page-content radian-view margin-15">
    <div class="row title-container">
        <p class="title-view">
            @ViewBag.title
        </p>
        <div class="underline-title"></div>
    </div>
    <div class="row margin-horizontal-0">
        <div class="panel">
            <div class="panel-body padding-top-20">
                <div id="steps-approved">
                    <div class="radian-personal-info">
                        @Html.Partial("_personalInfo")
                    </div>
                    <h3></h3>
                    <section>
                        @Html.Partial("_certificates")
                    </section>
                    <h3></h3>
                    <section>
                        @Html.Partial("_documentStates");
                    </section>
                    <h3></h3>
                    <section>
                        <p>The next and previous buttons help you to navigate through your content.</p>
                    </section>
                    <h3></h3>
                    <section>
                        <p>The next and previous buttons help you to navigate through your content.</p>
                    </section>
                    <h3></h3>
                    <section>
                        <p>The next and previous buttons help you to navigate through your content.</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

    @section scripts{
        <script>
            $(document).ready(function () {
                $("#steps-approved").steps({
                    headerTag: "h3",
                    bodyTag: "section",
                    transitionEffect: "slideLeft",
                    autoFocus: true,
                    labels: {
                        cancel: "Cancel",
                        current: "current step:",
                        pagination: "Pagination",
                        finish: "Finish",
                        next: "Siguiente",
                        previous: "Cancelar",
                        loading: "Loading ..."
                    }
                });
            })
        </script>
    }
