
@{
    ViewBag.title = "Titulo";
}
<div class="page-content">
    <div class="row title-container">
        <p class="title-view">
            @ViewBag.title
        </p>
        <div class="underline-title"></div>
    </div>
    <div class="row margin-horizontal-0">
        @Html.Partial("_personalInfo")
    </div>
    <div class="row margin-horizontal-0">
        <div class="panel">
            <div class="panel-body padding-top-20">
                <div id="example-basic">
                    <h3>Keyboard</h3>
                    <section>
                        @Html.Partial("_certificates")
                    </section>
                    <h3>Effects</h3>
                    <section>
                        @Html.Partial("_documentStates");
                    </section>
                    <h3>Pager</h3>
                    <section>
                        <p>The next and previous buttons help you to navigate through your content.</p>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

    @section scripts{
        <script>
            $(document).ready(function () {
                $("#example-basic").steps({
                    headerTag: "h3",
                    bodyTag: "section",
                    transitionEffect: "slideLeft",
                    autoFocus: true
                });
            })
        </script>
    }
