@model Gosocket.Dian.Web.Models.RadianApproved.RadianApprovedViewModel
@using Gosocket.Dian.Domain.Entity
@using Newtonsoft.Json
@{
    ViewBag.title = "Detalle de Set de Pruebas - Propios Medios";
}

<div class="page-content radian-view margin-15">
    <div class="row title-container">
        <p class="title-view">
            @ViewBag.title
        </p>
        <div class="underline-title"></div>
    </div>
    <div class="row margin-horizontal-0">
        <div class="panel">
            <div class="panel-body padding-top-20">
                <div class="row warning-wrapper">
                    <div class="col-sm-1 icon-warning">
                        <i class="fa fa-exclamation-circle"></i>
                    </div>
                    <div class="col-sm-11">
                        <span class="warning-title">¡Importante!</span>
                        <p>
                            Su empresa se encuentra en el proceso de pruebas de validación, el set de pruebas se encuenta en proceso.<br>
                            Usted debe proporcinar el identificador del st de pruebas (TestSetld) <b>42f705e7-4906-4144-8ef2-9ed76f7d84</b> en el web service  para el envío de su set de pruebas.
                        </p>
                    </div>
                </div>
                <div class="row margin-horizontal-0">
                    <p class="title-view" style="padding-top: 5px">
                        Resumen documentos recibidos y aceptados para el Set de Pruebas
                    </p>
                    <div class="underline-title underline-title-grey"></div>

                    <figure class="highcharts-figure-settest">
                        <div id="setTestDetails"></div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
                    $(document).ready(function () {
                        var nit = '@Model.Nit';

                        $.ajax({
                            url: '@Url.Action("RadianTestResultByNit", "RadianApproved")',
                            type: "POST",
                            data: {
                                nit: nit,
                            },
                            error: function (error) { },
                            success: function (response) {
                                showChart(response);
                            }
                        });

                        function showChart(data) {
                            var dataChart = data.data;
                            Highcharts.chart('setTestDetails', {
                                chart: {
                                    type: 'bar'
                                },
                                title: {
                                    text: ''
                                },
                                xAxis: {
                                    alternateGridColor: '#EBEEEC',
                                    categories: [
                                        'Documentos',
                                        'Acuse de recibo',
                                        'Recibido del bien o prestación del S',
                                        'Aceptación expresa',
                                        'Aceptación tácita',
                                        'Rechazo de la  FEV',
                                        'Avales',
                                        'Mandato eléctronico',
                                        'Terminacion de mandato',
                                        'Solicitud de disponibilización',
                                        'Endoso',
                                        'Anulación endoso',
                                        'Notificación pago parcial o total',
                                        'Terminación de la limitación de circulación'
                                    ]
                                },
                                yAxis: {
                                    min: 0,
                                    title: {
                                        text: ''
                                    }
                                },
                                legend: {
                                    align: 'right',
                                    verticalAlign: 'top',
                                    x: 0,
                                    y: 15
                                },
                                plotOptions: {
                                    series: {
                                        stacking: 'normal',
                                        borderRadius: 8
                                    }
                                },
                                series: [
                                    {
                                        name: 'Requeridos',
                                        color: '#6A197D',
                                        data: [
                                            dataChart.TotalDocumentRequired,
                                            dataChart.ReceiptNoticeTotalRequired,
                                            dataChart.ReceiptServiceTotalRequired,
                                            dataChart.ExpressAcceptanceTotalRequired,
                                            dataChart.AutomaticAcceptanceTotalRequired,
                                            dataChart.RejectInvoiceTotalRequired,
                                            dataChart.GuaranteeTotalRequired,
                                            dataChart.ElectronicMandateTotalRequired,
                                            dataChart.EndMandateTotalRequired,
                                            dataChart.ApplicationAvailableTotalRequired,
                                            dataChart.EndorsementTotalRequired,
                                            dataChart.EndorsementCancellationTotalRequired,
                                            dataChart.PaymentNotificationTotalRequired,
                                            dataChart.EndCirculationLimitationTotalRequired
                                        ]
                                    },
                                    {
                                        name: 'Min requerido aceptado',
                                        color: '#D9F489',
                                        data: [
                                            dataChart.TotalDocumentAcceptedRequired,
                                            dataChart.ReceiptNoticeTotalAcceptedRequired,
                                            dataChart.ReceiptServiceTotalAcceptedRequired,
                                            dataChart.ExpressAcceptanceTotalAcceptedRequired,
                                            dataChart.AutomaticAcceptanceTotalAcceptedRequired,
                                            dataChart.RejectInvoiceTotalAcceptedRequired,
                                            dataChart.GuaranteeTotalAcceptedRequired,
                                            dataChart.ElectronicMandateTotalAcceptedRequired,
                                            dataChart.EndMandateTotalAcceptedRequired,
                                            dataChart.ApplicationAvailableTotalAcceptedRequired,
                                            dataChart.EndorsementTotalAcceptedRequired,
                                            dataChart.EndorsementCancellationTotalAcceptedRequired,
                                            dataChart.PaymentNotificationTotalAcceptedRequired,
                                            dataChart.EndCirculationLimitationTotalAcceptedRequired
                                        ]
                                    },
                                    {
                                        name: 'Recibidos',
                                        color: '#FFD271',
                                        data: [
                                            dataChart.TotalDocumentSent,
                                            dataChart.TotalReceiptNoticeSent,
                                            dataChart.TotalReceiptServiceSent,
                                            dataChart.TotalExpressAcceptanceSent,
                                            dataChart.TotalAutomaticAcceptanceSent,
                                            dataChart.TotalRejectInvoiceSent,
                                            dataChart.TotalGuaranteeSent,
                                            dataChart.TotalElectronicMandateSent,
                                            dataChart.TotalEndMandateSent,
                                            dataChart.TotalApplicationAvailableSent,
                                            dataChart.TotalEndorsementSent,
                                            dataChart.TotalEndorsementCancellationSent,
                                            dataChart.TotalPaymentNotificationSent,
                                            dataChart.TotalEndCirculationLimitationSent
                                        ]
                                    },
                                    {
                                        name: 'Aceptados',
                                        color: '#348441',
                                        data: [
                                            dataChart.TotalDocumentAccepted,
                                            dataChart.ReceiptNoticeAccepted,
                                            dataChart.ReceiptServiceAccepted,
                                            dataChart.ExpressAcceptanceAccepted,
                                            dataChart.AutomaticAcceptanceAccepted,
                                            dataChart.RejectInvoiceAccepted,
                                            dataChart.GuaranteeAccepted,
                                            dataChart.ElectronicMandateAccepted,
                                            dataChart.EndMandateAccepted,
                                            dataChart.ApplicationAvailableAccepted,
                                            dataChart.EndorsementAccepted,
                                            dataChart.EndorsementCancellationAccepted,
                                            dataChart.PaymentNotificationAccepted,
                                            dataChart.EndCirculationLimitationAccepted
                                        ]
                                    },
                                    {
                                        name: 'Rechazados',
                                        color: '#FF414D',
                                        data: [
                                            dataChart.TotalDocumentsRejected,
                                            dataChart.ReceiptNoticeRejected,
                                            dataChart.RejectInvoiceAccepted,
                                            dataChart.ExpressAcceptanceRejected,
                                            dataChart.AutomaticAcceptanceRejected,
                                            dataChart.RejectInvoiceRejected,
                                            dataChart.GuaranteeRejected,
                                            dataChart.ElectronicMandateRejected,
                                            dataChart.EndMandateRejected,
                                            dataChart.ApplicationAvailableRejected,
                                            dataChart.EndorsementRejected,
                                            dataChart.EndorsementCancellationRejected,
                                            dataChart.PaymentNotificationRejected,
                                            dataChart.EndCirculationLimitationRejected
                                        ]
                                    }
                                ]
                            });
                        }
                    });

    </script>
}
