/*    general Styles      */
h1, h2, h3, h4, h5, h6 {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    color: #2C323C;
}

label {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}

li.list-inline-item {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #2C323C;
    display: inline-table !important;
}

th {
    font-family: Arial;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #2C323C;
    padding: 6px 10px;
}

.button-top-left-radian {
    margin: 25px 0px;
    cursor: pointer;
}
/*    general Styles      */
.RadianContainerBegin {
    margin: 15px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.RadianAlertText {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vw;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #348441;
}

.RadianCardContainer {
    background: #F2F6FB;
    border-radius: 10px;
    width: 60%;
    height: 200px;
    background: #F2F6FB;
    border-radius: 10px;
    float: none;
    margin: 15px auto;
}

.close {
    font-size: 19px !important;
    font-weight: 700 !important;
    line-height: 1 !important;
    text-shadow: 0 1px 0 #fff !important;
    filter: alpha(opacity=20) !important;
    border-radius: 50% !important;
}

@media screen and (min-width: 1101px) {

    .RadianTextSelected {
        height: 21px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 1vw;
        line-height: 21px;
        color: #2C323C;
        margin-top: 25px;
    }

    .RadianTittleCard {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5vw;
        align-items: center;
        text-align: center;
        color: #2C323C;
    }

    .RadianTittleCard2 {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 1vw;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #2C323C;
        margin-top: -10px;
    }

    .RadianCardContainer:hover .RadianTittleCard {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 1.5vw;
        line-height: 25px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.4px;
        color: #348441;
        cursor: pointer;
    }
}

@media screen and (max-width: 1100px) {

    .RadianCardContainer {
        background: #F2F6FB;
        border-radius: 10px;
        width: 80%;
        height: 200px;
        background: #F2F6FB;
        border-radius: 10px;
        float: none;
        margin: 15px auto;
    }

    .RadianTextSelected {
        height: 21px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 2vw;
        line-height: 21px;
        color: #2C323C;
        margin-top: 25px;
    }


    .RadianTittleCard {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 2vw;
        align-items: center;
        text-align: center;
        color: #2C323C;
    }


    .RadianCardContainer:hover .RadianTittleCard {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 2vw;
        line-height: 25px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.4px;
        color: #348441;
        cursor: pointer;
    }

    .RadianTittleCard2 {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5vw;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #2C323C;
        margin-top: -10px;
    }
}

@media screen and (max-width: 700px) {


    .RadianAlertText {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 4vw;
        line-height: 30px;
        align-items: center;
        text-align: center;
        color: #348441;
    }

    .RadianCardContainer {
        background: #F2F6FB;
        border-radius: 10px;
        width: 80%;
        height: 200px;
        background: #F2F6FB;
        border-radius: 10px;
        float: none;
        margin: 15px auto;
    }

    .RadianTittleCard {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 3vw;
        align-items: center;
        text-align: center;
        color: #2C323C;
    }

    .RadianTextSelected {
        height: 21px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 3vw;
        line-height: 21px;
        color: #2C323C;
        margin-top: 25px;
    }

    .RadianCardContainer:hover .RadianTittleCard {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 3vw;
        line-height: 25px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.4px;
        color: #348441;
        cursor: pointer;
    }

    .RadianTittleCard2 {
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 2vw;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #2C323C;
        margin-top: -10px;
    }
}


.RadianCentered {
    text-align: center;
}


.RadianCardContainer:hover .RadianimgSvg path {
    fill: #348441 !important;
}


.input-general {
    height: 41px !important;
    background: #F7F7F7;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
}

.radian-conventions i, #table-contributor-files i {
    margin: 0px 7px;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 16px;
}

.radian-convention li {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: inline-table !important;
}

i.fa-exclamation-circle {
    color: #F3A632;
}

i.fa-check-circle {
    color: #348441;
}

i.fa-times-circle {
    color: #B81818;
}

i.fa-info-circle {
    color: #62C7AB;
}

#table-contributor-files .download-contributor-files {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
}

#table-contributor-files td {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #2C323C;
    padding: 6px 10px;
}

.fa-pencil {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 14px;
    color: #348441;
    cursor: pointer;
}

.download-contributor-files {
    color: #348441;
    margin: 0px 6px;
}

.edit-state {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #348441;
    padding: 0px 10px;
}

.radian-view {
    text-align: left;
    margin-left: 25px;
}

.title-view {
    height: 34px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    color: #000000;
}

.underline-title {
    width: calc(100% + 5%);
    height: 3px;
    left: 250px;
    top: 170px;
    background: #62C7AB;
    border-radius: 2px;
}

.title-container {
    width: max-content;
    margin-bottom: 40px;
}

.btn-radian-default {
    background: #FFFFFF;
    border: 2px solid #B4B4B4;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 30px;
}

.btn-radian-success {
    background: #348441;
    border-radius: 10px;
    color: white;
}

.dropdown-state #RadianState {
    height: 41px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 4px;
    width: auto;
}

.panel-title-radian {
    font-size: 18px;
}

#DateInterval {
    cursor: pointer;
    font-size: 11px;
}

.init-hide {
    display: none;
}

.modal-footer {
    border: none;
    background: no-repeat;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px 10px 50px;
}

h4.text-thin {
    text-align: center;
    font-weight: bold;
    width: 80%;
    margin: auto;
    line-height: 30px;
    font-size: 21px;
    color: #348441;
}

.bootbox-close-button {
    margin-top: -10px;
    width: 28px;
    height: 28px;
    background-color: #348441 !important;
    opacity: 1;
    color: white;
    font-weight: lighter !important;
}

.modal-content {
    border-radius: 10px;
}

.modal-dialog .media-body {
    padding: 30px 30px 0px 30px;
}

.RadianImgContainer {
    text-align: center;
}

#steps-approved .steps li {
    width: 107.01px;
    height: 108.15px;
    border-radius: 50%;
    margin: 0px 20px;
}

#steps-approved .steps a {
    background: none;
    position: relative;
}

#steps-approved .steps span.number {
    display: none;
}

#steps-approved .steps img {
    width: 100%;
}

#steps-approved .steps li a {
    height: inherit;
    top: -3px;
    position: relative;
}

#steps-approved .steps li.done {
    opacity: 1;
    position: relative;
}
#steps-approved .steps li.done::before {
    width: 20px;
    height: 20px;
}

#steps-approved .steps li:nth-child(3).disabled a {
    background: url(../../images/png/validado3.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

#steps-approved .steps li:nth-child(4).disabled a {
    background: url(../../images/png/pruebas3.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

/*#steps-approved .steps li:nth-child(1).current a {
    background: url(../../images/png/ingreso2.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}*/

#steps-approved .steps li:nth-child(2).current a {
    background: url(../../images/png/pendiente2.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

#steps-approved .steps li:nth-child(3).current a {
    background: url(../../images/png/validado2.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

#steps-approved .steps li:nth-child(4).current a {
    background: url(../../images/png/pruebas2.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

#steps-approved .steps li:nth-child(1).done a {
    background: url(../../images/png/ingreso1.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

#steps-approved .steps li:nth-child(2).done a {
    background: url(../../images/png/pendiente1.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

#steps-approved .steps li:nth-child(3).done a {
    background: url(../../images/png/validado1.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

#steps-approved .steps li:nth-child(4).done a {
    background: url(../../images/png/pruebas1.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

#steps-approved .steps li.last a {
    background: url(../../images/png/flagFinish.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px;
    padding: 0px;
}

#steps-approved .steps li.done::before {
    content: "";
    position: absolute;
    right: 4px;
    top: 1px;
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-image: url(../../images/png/done.png);
    z-index: 1;
}

.radian-personal-info {
    padding: 10px;
}

#steps-approved .content {
    background: none;
}

.radian-upload::-webkit-file-upload-button {
    visibility: hidden;
}

.radian-upload::before {
    content: 'Adjuntar';
    display: inline-block;
    background: linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}

.radian-sub-title-container p {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

.radian-subtitle-container {
    width: 100%;
}

.radian-subtitle-line {
    background: #E9E8E8;
    border-radius: 2px;
    height: 1.98px;
}

.subtitle-view {
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin: 0;
    color: #2C323C;
    padding: 2px;
}

#steps-approved section {
    border: 1px solid #348441;
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;
}

.radian-personal-form {
    padding: 20px 0;
}

#steps-approved .radian-conventions {
    margin: 20px 0;
}

.radian-file-label {
    background: #FFFFFF;
    border: 1px solid #348441;
    box-sizing: border-box;
    border-radius: 4px;
    height: 33px;
    line-height: 2 !important;
}

.custom-file-label::after {
    content: "Adjuntar";
    color: white;
    background: #348441;
    height: 31px;
    line-height: 2 !important;
}

#steps-approved .steps {
    padding: 60px 15%;
}

#steps-approved li.done .name-state {
    position: absolute;
    bottom: -29px;
    color: black;
    text-align: center;
    width: 100%;
    padding: 0px 2px;
}

#steps-approved li.current .name-state {
    position: absolute;
    bottom: -22px;
    text-align: center;
    color: #348441;
    width: 100%;
    font-weight: bold;
}

#steps-approved li.disabled .name-state {
    position: absolute;
    bottom: -29px;
    text-align: center;
    color: #B0B0B0;
    width: 100%;
}

.show-history {
    text-align: right;
    float: right;
    font-size: 18px;
    color: #348441;
    cursor: pointer;
}

#progress-wrp {
    border: 1px solid #0099CC;
    padding: 1px;
    border-radius: 3px;
    margin: 10px;
    text-align: left;
    background: #fff;
    box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);
    width: 50%;
    position: absolute;
    top: 2px;
    right: 21px;
}

#progress-wrp .progress-bar {
    height: 11px;
    border-radius: 3px;
    background-color: #348441;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
}

#progress-wrp .status {
    top: 3px;
    left: 50%;
    position: absolute;
    display: inline-block;
    color: #000000;
}

.event-section .cude-section span {
    display: block;
}

.event-section .cude-text {
    overflow-wrap: break-word;
    width: auto;
}

.event-section .title-container {
    margin-bottom: 10px;
}

.panel > .panel-heading:after {
    display: none;
}

.event-section .aditional-data-section h5, .event-section .aditional-data-section p {
    margin-bottom: 5px;
}
.event-section .aditional-data-section span {
    text-align: left;
    display: block;
}

.event-section .aditional-data-section .second-section {
    float: right;
    padding: 0px 7px;
    margin-top: 10px;
}
#steps-approved .content {
    background: none;
}

.radian-vertical-line {
    border-left: 6px solid #FD7E14;
    height: 200px;
}

span.state-file {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    top: 0;
    margin: 11px;
}
span.state-file.status-1 {
    background-image: url(../../images/Svg/Loaded.svg);
}
span.state-file.status-2 {
    background-image: url(../../images/aproved.png);
}
span.state-file.status-3 {
    background-image: url(../../images/reject.png);
}
span.state-file.status-4 {
    background-image: url(../../images/observations.png);
}
.file-input-disabled {
    position: relative;
    width: 50%;
}

.highcharts-figure, .highcharts-data-table table {
    min-width: 310px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

.warning-wrapper .fa-exclamation-circle {
    font-size: 34px;
}

.warning-wrapper .icon-warning {
    text-align: center;
    border-right: 3px solid #EA965A;
    border-radius: 2px;
    padding: 10px;
}
.warning-wrapper {
    padding: 10px;
    background: #F4F5F7;
}
span.warning-title {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}

.setTestForm {
    padding: 20px;
    border: 1px solid #348441;
    box-sizing: border-box;
    border-radius: 0px 5px 0px 0px;
    margin-top: 20px;
}

span.close {
    color: #565B64;
    opacity: 1;
    font-weight: 100 !important;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.underline-reject-text {
    color: #348441;
    cursor: pointer;
}

.custom-file {
    width: 50%;
}

.reject-observation {
    font-weight: bold;
}

.dataTables_length{
    display: none;
}

.dataTables_filter {
    float: left !important;
    width: 30% !important;
}

.dataTables_filter label {
    text-align: left !important;
    width: 100% !important;
}

.dataTable th {
    font-weight: lighter !important;
    text-align: center;
    border-bottom: solid 0px #E9E8E8 !important;
}

.dataTable {
    border: none !important;
}

.dataTables_filter input[type="search"] {
    display: block !important;
    width: 100% !important;
    margin: 10px 0 20px 0 !important;
}

.modal .title-view {
    margin-bottom: 2px;
}
.modal .title-container {
    margin-bottom: 30px;
}