/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .set-test-counts .modal-dialog {
        width: 992px;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .modal-dialog {
        min-width: 800px;
    }
    .modal .panel-body {
        padding-left: 0;
    }
    .set-test-counts .modal-dialog {
        width: 1016px;
    }
    .set-test-counts .modal .panel-body {
        padding-left: 50px;
    }
    .file-input-disabled {
        position: relative;
        width: 28%;
    }
    .file-input-disabled input{
        padding-right: 30px;
    }
}

@media (max-width: 1299px) {
    #steps-approved .steps {
        width: 100%;
    }
}


