<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DIAN | @ViewBag.Title</title>

    <meta name="description" content="dian">
    <meta name="keywords" content="dian" />
    <meta name="author" content="Gosocket Corp SpA">
    <link rel="shortcut icon" href="~/Content/img/favicon_dian.ico">

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/plugins/font-awesome/css/font-awesome.min.css?v=4.7.0" rel="stylesheet">
    <link href="~/Content/css/login.css?v=1.0.6" rel="stylesheet">

</head>
<body>
    <div id="container" class="container">
        @RenderBody()
    </div>

    <script src="~/Content/js/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    @*<script src="~/Content/plugins/jquery-cookie/jquery.cookie.js"></script>*@
    @RenderSection("scripts", required: false)

    <script type="text/javascript">

        

    </script>

</body>
</html>