<div class="panel">
    <div class="panel-body padding-top-20">
        <div class="row margin-horizontal-0">
            <div class="alert custom-alert-danger col-sm-12">
                <h4><i class="fa fa-exclamation-circle" aria-hidden"true"=""></i> 401 - Acceso restringido!</h4>
                Usted no está autorizado para realizar esta acción.
            </div>
        </div>
    </div>
</div>