@model Gosocket.Dian.Web.Models.RadianContributorsViewModel

@{
    ViewBag.Title = "Eventos del Set de pruebas";
}


<div class="page-content margin-15">
    <div class="row title-container">
        <p class="title-view">
            @ViewBag.title
        </p>
        <div class="underline-title"></div>
    </div>
    <div class="row margin-horizontal-0 margin-top-50">
        <div class="panel">
            <div class="panel-body padding-top-20">
                <div class="row">
                    <div class="col-sm-4">
                        <ul class="list-unstyled-0">
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="list-unstyled-1">
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <ul class="list-unstyled-2">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
