
@using Gosocket.Dian.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Modo de operación";
}



<style>

    .ContainerBegin {
        margin: 25px;
        background: #FFFFFF;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

    .Centered {
        text-align: center;
    }

    .CardContainer {
        background: #F2F6FB;
        border-radius: 10px;
        width: 379px;
        height: 188px;
        background: #F2F6FB;
        border-radius: 10px;
        float: none;
        margin: 20px auto;
    }

    .TittleCard {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        align-items: center;
        text-align: center;
        color: #2C323C;
    }

    .TittleCard2 {
        /* Registro de Facturas Electrónicas */
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #2C323C;
    }

    .TextSelected {
        /* Seleccione el tipo de participante: */
        height: 21px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height */
        color: #2C323C;
        /*margin: 20px 0px 0px 5px;*/
    }

    .imgSvg {
        margin: 0 148px;
    }
</style>

<div style="text-align:left; margin-left:25px; ">
    <p style="height: 34px; font-family: Arial; font-style: normal; font-weight: normal; font-size: 30px; line-height: 34px; color: #000000; ">
        Modo de operación
    </p>
    <svg width="198" height="3" viewBox="0 0 198 3" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="198" height="3" rx="1.5" fill="#62C7AB" />
    </svg>
</div>

<div class="container ContainerBegin">
    <p class="TextSelected">Seleccione el modo de opreción en el Registro de Facturas Electronicas :</p>
    <div class="row">
        <div class="col-xs-6 col-md-6 d-flex container">
            <div class="card CardContainer">
                <img class="imgSvg" src="~/Content/images/Svg/OperacionDirecta.svg" />
                <div class="card-body">
                    <h3 class="TittleCard">Operación Directa</h3>
                    <h4 class="TittleCard2">Software Propio</h4>
                </div>
                <input type="hidden" class="ConfirmMessage" value="¿Está seguro que desea habilitar  la trasmisión de eventos en RADIAN como Facturador Electrónico?" />
                <input type="hidden" class="ConfirmReject" value="El participante no cuenta con un software propio activo en el sistema" />
                <input type="hidden" class="ConfirmUserExisting" value="El participante ya se encuentra registrado en RADIAN." />
            </div>
        </div>


        <div class="col-xs-6 col-md-6">
            <div class="card CardContainer">
                <img class="imgSvg" src="~/Content/images/Svg/OperacionIndirecta.svg" />
                <div class="card-body">
                    <h3 class="TittleCard">Operación Indirecta</h3>
                    <p class="TittleCard2">A través de un aliado</p>
                </div>
                <input type="hidden" class="ConfirmMessage" value="¿Está seguro que desea habilitar  la trasmisión de eventos al RADIAN como Facturador Electrónico?" />
            </div>
        </div>
    </div>

</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

<script>

        $('.CardContainer').click(function () {
            var withSoft = '@ViewBag.WithSoft';
            var existInRadian = '@ViewBag.ExistInRadian';
            alert(existInRadian);
            var findLabel = (withSoft == "True" && existInRadian == 'False') ?
                ".ConfirmMessage" :
                (existInRadian == 'False') ? ".ConfirmReject" : ".ConfirmUserExisting";
            var message = $(this).children(findLabel).val()
            var buttons = (withSoft == "True" && existInRadian == 'False') ? WithSoftwareExec() : WithOutSoftwareExec();
            if (message != undefined) {
                showConfirmation(message, buttons);
            }
        });

        function showConfirmation(confirmMessage, buttons) {
            bootbox.dialog({
                title: "Advertencia",
                message: "<div class='media'><div class='media-body'>" + "<h4 class='text-thin'>" + confirmMessage + "</h4></div></div>",
                buttons: buttons
            });
        }

        function WithSoftwareExec() {
            return {
                del: {
                    label: "Aceptar",
                    className: "btn-gosocket",
                    callback: function () {
                        alert("tiene");
                        // var url = $("#RedirectToElectronicInvoiceView").val();
                        // window.location.href = url;
                    }
                },
                del1: {
                    label: "Cancelar",
                    className: "btn-gosocket",
                }
            }
        }

        function WithOutSoftwareExec() {
            return {
                del: {
                    label: "Aceptar",
                    className: "btn-gosocket",
                }
            }
        }

</script>
}

