
@using Gosocket.Dian.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Habilitar Participantes";
}

@Html.Hidden("RedirectToElectronicInvoiceView", Url.Action("ElectronicInvoiceView", "Radian"));


<style>

    .ContainerBegin {
        margin: 25px;
        background: #FFFFFF;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }

    .Centered {
        text-align: center;
    }

    .CardContainer {
        background: #F2F6FB;
        border-radius: 10px;
        width: 379px;
        height: 188px;
        background: #F2F6FB;
        border-radius: 10px;
        float: none;
        margin: 20px auto;
    }

    .TittleCard {
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        align-items: center;
        text-align: center;
        color: #2C323C;
    }

    .TittleCard2 {
        /* Registro de Facturas Electrónicas */
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;
        align-items: center;
        text-align: center;
        color: #2C323C;
    }

    .TextSelected {
        /* Seleccione el tipo de participante: */
        width: 292px;
        height: 21px;
        font-family: Arial;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height */
        color: #2C323C;
        /*margin: 20px 0px 0px 5px;*/
    }

    .imgSvg {
        margin: 0 148px;
    }
</style>

<div style="text-align:left; margin-left:25px; ">
    <p style=" width: 174px; height: 34px; font-family: Arial; font-style: normal; font-weight: normal; font-size: 30px; line-height: 34px; color: #000000; ">
        Participantes
    </p>
    <svg width="198" height="3" viewBox="0 0 198 3" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="198" height="3" rx="1.5" fill="#62C7AB" />
    </svg>
</div>

<div class="container ContainerBegin">
    <p class="TextSelected">Seleccione el tipo de participante:</p>
    <div class="row">
        
        <div class="col-xs-6 col-md-6 d-flex container">
            <a href="@Url.Action("ElectronicInvoiceView", "Radian")">
                <div class="card CardContainer">
                    <img class="imgSvg" src="~/Content/images/Svg/FacturadorElectronico.svg" />
                    <div class="card-body">
                        <h3 class="TittleCard">Facturador Electrónico</h3>
                        <h4 class="TittleCard2">Registro de Facturas Electrónicas</h4>
                    </div>
                </div>
            </a>
        </div>    
        
        
        <div class="col-xs-6 col-md-6">
            <div class="card CardContainer">
                <img class="imgSvg" src="~/Content/images/Svg/ProveedorTecnologico.svg" />
                <div class="card-body">
                    <h3 class="TittleCard">Proveedor Tecnológico</h3>
                    <p class="TittleCard2">Registro de Facturas Electrónicas</p>
                </div>
                <input type="hidden" class="ConfirmMessage" value="¿Está seguro que desea habilitar la trasmisión de eventos al RADIAN como Proveedor Tecnológico?" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-6">
            <div class="card CardContainer">
                <img class="imgSvg" src="~/Content/images/Svg/SistemaNegociacion.svg" />
                <div class="card-body">
                    <h3 class="TittleCard">Sistema de negociación</h3>
                    <p class="TittleCard2">Registro de Facturas Electrónicas</p>
                </div>
                <input type="hidden" class="ConfirmMessage" value="¿Está seguro que desea operar como Sistema de Negociación?" />
            </div>
        </div>

        <div class="col-xs-6 col-md-6">
            <div class="card CardContainer">
                <img class="imgSvg" src="~/Content/images/Svg/Factor.svg" />
                <div class="card-body">
                    <h3 class="TittleCard">Factor</h3>
                    <p class="TittleCard2">Registro de Facturas Electrónicas</p>
                </div>
                <input type="hidden" class="ConfirmMessage" value="¿Está seguro que desea operar como Factor?"/>
            </div>
        </div>

    </div>

</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $('.CardContainer').click(function () {
            var message = $(this).children(".ConfirmMessage").val();
            if (message != undefined) {
                showConfirmation(message);
            }
        });

        function showConfirmation(confirmMessage) {
            bootbox.dialog({
                title: "Advertencia",
                message: "<div class='media'><div class='media-body'>" +
                    "<h4 class='text-thin'>" + confirmMessage + "</h4></div></div>",
                buttons: {
                    del: {
                        label: "Aceptar",
                        className: "btn-gosocket",
                        callback: function () {
                            var url = $("#RedirectToElectronicInvoiceView").val();
                            window.location.href = url;
                        }
                    },
                }
            });
        }

        function setProductionDate() {
            //showLoading('#page-content', 'Actualizando', 'Procesando datos, por favor espere.');
            $.ajax({
            url: "@Url.Action("ElectronicInvoiceView", "Radian")",
            method: "GET",
                success: function (data) {
                    alert("Gracias");
                    //window.location.href = "/radian/ElectronicInvoiceView";
                }
            });
       }

    </script>
}
