
@using Gosocket.Dian.Web.Models
@{
    ViewBag.Title = "Habilitar Participantes";
}

@Html.Hidden("RedirectToElectronicInvoiceView", Url.Action("ElectronicInvoiceView", "Radian"));
<link href="~/Content/css/Radian/RadianIndex.css" rel="stylesheet" />


<div style="text-align:left; margin-left:25px; ">
    <p style=" width: 174px; height: 34px; font-family: Arial; font-style: normal; font-weight: normal; font-size: 30px; line-height: 34px; color: #000000; ">
        Participantes
    </p>
    <svg width="198" height="3" viewBox="0 0 198 3" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="198" height="3" rx="1.5" fill="#62C7AB" />
    </svg>
</div>

<div class="container RadianContainerBegin">
    <p class="RadianTextSelected">Seleccione el tipo de participante:</p>
    <svg width="1110" height="2" viewBox="0 0 1110 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 1C0 0.447715 0.447715 0 1 0H1109C1109.55 0 1110 0.447715 1110 1C1110 1.55228 1109.55 2 1109 2H1.00003C0.447741 2 0 1.55228 0 1Z" fill="#E9E8E8" />
    </svg>

    <div class="row">
        <div class="col-xs-6 col-md-6 d-flex container">
            <a href="@Url.Action("ElectronicInvoiceView", "Radian")">
                <div class="card RadianCardContainer">
                    <img class="RadianimgSvg" src="~/Content/images/Svg/FacturadorElectronico.svg" />
                    <div class="card-body">
                        <p class="RadianTittleCard">Facturador Electrónico</p>
                        <p class="RadianTittleCard2">Registro de Facturas Electrónicas</p>
                    </div>
                </div>
            </a>
        </div>


        <div class="col-xs-6 col-md-6">
            <div class="card RadianCardContainer">
                <img class="RadianimgSvg" src="~/Content/images/Svg/ProveedorTecnologico.svg" />
                <div class="card-body">
                    <p class="RadianTittleCard">Proveedor Tecnológico</p>
                    <p class="RadianTittleCard2">Registro de Facturas Electrónicas</p>
                </div>
                <input type="hidden" class="ConfirmMessage" value="¿Está seguro que desea habilitar la trasmisión de eventos al RADIAN como Proveedor Tecnológico?" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6 col-md-6">
            <div class="card RadianCardContainer">
                <img class="RadianimgSvg" src="~/Content/images/Svg/SistemaNegociacion.svg" />
                <div class="card-body">
                    <p class="RadianTittleCard">Sistema de negociación</p>
                    <p class="RadianTittleCard2">Registro de Facturas Electrónicas</p>
                </div>
                <input type="hidden" class="ConfirmMessage" value="¿Está seguro que desea operar como Sistema de Negociación?" />
            </div>
        </div>

        <div class="col-xs-6 col-md-6">
            <div class="card RadianCardContainer">
                <img class="RadianimgSvg" src="~/Content/images/Svg/Factor.svg" />
                <div class="card-body">
                    <p class="RadianTittleCard">Factor</p>
                    <p class="RadianTittleCard2">Registro de Facturas Electrónicas</p>
                </div>
                <input type="hidden" class="ConfirmMessage" value="¿Está seguro que desea operar como Factor?" />
            </div>
        </div>

    </div>

</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval") 
    <script src="~/Content/js/Radian/RadianIndex.js"></script>

}
