<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="Environment" value="Dev" />
    <add key="Slot" value="Live" />
    <add key="FunctionsUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/" />
    <add key="GlobalStorage" value="DefaultEndpointsProtocol=https;AccountName=gtpastoragedev;AccountKey=QM8DTuuHPnf/bktq3YVkx/U2rMSVEz0TAnjbYKw0rcO03yG9+bpo7JFOT67KnR8T0EBJPfJKrHLJAdg5hEGMrg==;EndpointSuffix=core.windows.net" />
    <add key="Software" value="ose-webservices-dev" />
    <add key="CheckIfDocumentValidationsIsFinishedUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/CheckIfDocumentValidationsIsFinished?code=8GGHaflmAggTGxT13XnaU35MN2Tx0WvaO7vsaeZH1BsqeCn7NS2FXA==" />
    <add key="DownloadXmlUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/DownloadXml?code=VWneAkVSg8kMkseLCJ3PQ9y6Mca1OaVplpALD3DQpUxhYMGa7elgVg==" />
    <add key="GetValidationsByTrackIdUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/GetValidationsByTrackId?code=rYICfrOXr469tL4j8FzWnazaFoxBR2FOL2ECH0ueWOCYSZDy6TsN0A==" />
    <add key="GetXpathDataValuesUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/GetXpathDataValues?code=d5BEa8ywxsHX/dEn1JWcYQXiHNs2omDsMQGoUYSzfg8PbxkjYAibNg==" />
    <add key="UploadXmlUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/UploadXml?code=0d52zg6b/ZQFYJOxcVaSIKWEpAF6s7oUV9Lc/9Yenbc45OlbBtBNtA==" />

    <add key="ValidateDocumentAsyncUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/ValidateDocumentAsync?code=N3Z3rWm9ILRtBHpaKmSlyx4OvGK8wDTcaQjKfwj1VRsCOa00LecUoQ==" />
    <add key="ValidateDocumentUrl" value="https://gtpa-function-doc-validator-dev.azurewebsites.net/api/ValidateDocument?code=UWn/SHDXCMdOf3mI0Ucj5MFneaCKOayvuXcgiDoBdUj90Z0tvFa9LA==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>