@model Gosocket.Dian.Web.Models.RadianTestSetViewModel
@using Gosocket.Dian.Web.Common;
@using Gosocket.Dian.Domain.Common
@{

    ViewBag.Title = "Editar set de pruebas";
}

<div class="page-content margin-15">
    <div class="row title-container">
        <p class="title-view">
            @ViewBag.Title
        </p>
        <div class="underline-title"></div>
    </div>
    <div class="row margin-horizontal-0">
        <div class="panel">
          
            <div class="panel-body padding-top-20">
                <div class="row margin-horizontal-0">
                    <div id="panel-form" data-target="#panel-form" data-toggle="panel-overlay" class="panel panel-bordered-dian margin-bottom-0">
                        @using (Html.BeginForm("Edit", "RadianTestSet", FormMethod.Post, new { id = "edit-testset-form" }))
                        {
                            @Html.Partial("_form")
                            <div class="panel-footer text-right">
                                <a href="@Url.Action("Index", "RadianTestSet")" class="btn btn-default">Cancelar</a>
                                <button type="button" class="btn btn-default btn-save button-top-left-radian">Guardar</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#TotalDocumentRequired').attr('readonly', true);
        $('#TotalDocumentAcceptedRequired').attr('redonly', true);

        $("#ReceiptNoticeTotalRequired").change(function () {
            var noticeTotal = parseInt($("#ReceiptNoticeTotalRequired").val());
            if (noticeTotal < 2) {
                showErrorMessage(2);
                $("#ReceiptNoticeTotalRequired").val(2);
            }
            else {
                updateTotal();
            }
        });
        $("#ReceiptServiceTotalRequired").change(function () {
            var receiptServiceTotal = parseInt($("#ReceiptServiceTotalRequired").val());
            if (receiptServiceTotal < 1) {
                showErrorMessage(1);
                $("#ReceiptServiceTotalRequired").val(1);
            }
            else {
                updateTotal();
            }
        });
        $("#ExpressAcceptanceTotalRequired").change(function () {
            var expressAcceptanceTotal = parseInt($("#ExpressAcceptanceTotalRequired").val());
            if (expressAcceptanceTotal < 1) {
                showErrorMessage(1);
                $("#ExpressAcceptanceTotalRequired").val(1);
            }
            else {
                updateTotal();
            }
        });
        $("#AutomaticAcceptanceTotalRequired").change(function () {
            var automaticAcceptanceTotal = parseInt($("#AutomaticAcceptanceTotalRequired").val());
            if (automaticAcceptanceTotal < 1) {
                showErrorMessage(1);
                $("#AutomaticAcceptanceTotalRequired").val(1);
            }
            else {
                updateTotal();
            }
        });
        $("#RejectInvoiceTotalRequired").change(function () {
            var rejectInvoiceTotal = parseInt($("#RejectInvoiceTotalRequired").val());
            if (rejectInvoiceTotal < 1) {
                showErrorMessage(1);
                $("#RejectInvoiceTotalRequired").val(1);
            }
            else {
                updateTotal();
            }
        });
        $("#ApplicationAvailableTotalRequired").change(function () {
            var appAvailableTotal = parseInt($("#ApplicationAvailableTotalRequired").val());
            if (appAvailableTotal < 1) {
                showErrorMessage(1);
                $("#ApplicationAvailableTotalRequired").val(1);
            }
            else {
                updateTotal();
            }
        });
        $("#EndorsementTotalRequired").change(function () {
            var endorsementTotal = parseInt($("#EndorsementTotalRequired").val());
            if (endorsementTotal < 1) {
                showErrorMessage(1);
                $("#EndorsementTotalRequired").val(1);
            }
            else {
                updateTotal();
            }
        }); 
        $("#EndorsementCancellationTotalRequired").change(function () {
            var endorsementcancelTotal = parseInt($("#EndorsementCancellationTotalRequired").val());
            if (endorsementcancelTotal < 1) {
                showErrorMessage(1);
                $("#EndorsementCancellationTotalRequired").val(1);
            }
            else {
                updateTotal();
            }
        });
        $("#GuaranteeTotalRequired").change(function () {
            var garanteeTotal = parseInt($("#GuaranteeTotalRequired").val());
            if (garanteeTotal < 1) {
                showErrorMessage(1);
                $("#GuaranteeTotalRequired").val(1);
            }
            else {
                updateTotal();
            }
        });
        $("#EndMandateTotalRequired").change(function () {
            var endMandateTotal = parseInt($("#EndMandateTotalRequired").val());
            if (endMandateTotal < 1) {
                showErrorMessage(1);
                $("#EndMandateTotalRequired").val(1);
            }
            else {
                updateTotal();
            }
        });
        $("#ElectronicMandateTotalRequired").change(function () {
            var electronicMandateTotal = parseInt($("#ElectronicMandateTotalRequired").val());
            if (electronicMandateTotal < 1) {
                showErrorMessage(1);
                $("#ElectronicMandateTotalRequired").val(1);
            }
            else {
                updateTotal();
            }
        });
        $("#PaymentNotificationTotalRequired").change(function () {
            var paymentNotificationTotal = parseInt($("#PaymentNotificationTotalRequired").val());
            if (paymentNotificationTotal < 1) {
                showErrorMessage(1);
                $("#PaymentNotificationTotalRequired").val(1);
            }
            else {
                updateTotal();
            }
        });
        $("#CirculationLimitationTotalRequired").change(function () {
            var circulationNotificationTotal = parseInt($("#CirculationLimitationTotalRequired").val());
            if (circulationNotificationTotal < 1) {
                showErrorMessage(1);
                $("#CirculationLimitationTotalRequired").val(1);
            }
            else {
                updateTotal();
            }
        });
        $("#EndCirculationLimitationTotalRequired").change(function () {
            var endcirculationNotificationTotal = parseInt($("#EndCirculationLimitationTotalRequired").val());
            if (endcirculationNotificationTotal < 1) {
                showErrorMessage(1);
                $("#EndCirculationLimitationTotalRequired").val(1);
            }
            else {
                updateTotal();
            }
        });

        $('#TotalDocumentAcceptedRequired').attr('readonly', true);

        $("#ReceiptNoticeTotalAcceptedRequired").change(function () {
            var noticeTotal0 = parseInt($("#ReceiptNoticeTotalAcceptedRequired").val());
            if (noticeTotal0 < 2) {
                showErrorMessage(2);
                $("#ReceiptNoticeTotalAcceptedRequired").val(2);
            }
            else {
                updateTotalRequired();
            }
        });
        $("#ReceiptServiceTotalAcceptedRequired").change(function () {
            var receiptServiceTotal0 = parseInt($("#ReceiptServiceTotalAcceptedRequired").val());
            if (receiptServiceTotal0 < 1) {
                showErrorMessage(1);
                $("#ReceiptServiceTotalAcceptedRequired").val(1);
            }
            else {
                updateTotalRequired();
            }
        });
        $("#ExpressAcceptanceTotalAcceptedRequired").change(function () {
            var expressAcceptanceTotal0 = parseInt($("#ExpressAcceptanceTotalAcceptedRequired").val());
            if (expressAcceptanceTotal0 < 1) {
                showErrorMessage(1);
                $("#ExpressAcceptanceTotalAcceptedRequired").val(1);
            }
            else {
                updateTotalRequired();
            }
        });
        $("#AutomaticAcceptanceTotalAcceptedRequired").change(function () {
            var automaticAcceptanceTotal0 = parseInt($("#AutomaticAcceptanceTotalAcceptedRequired").val());
            if (automaticAcceptanceTotal0 < 1) {
                showErrorMessage(1);
                $("#AutomaticAcceptanceTotalAcceptedRequired").val(1);
            }
            else {
                updateTotalRequired();
            }
        });
        $("#RejectInvoiceTotalAcceptedRequired").change(function () {
            var rejectInvoiceTotal0 = parseInt($("#RejectInvoiceTotalAcceptedRequired").val());
            if (rejectInvoiceTotal0 < 1) {
                showErrorMessage(1);
                $("#RejectInvoiceTotalAcceptedRequired").val(1);
            }
            else {
                updateTotalRequired();
            }
        });
        $("#ApplicationAvailableTotalAcceptedRequired").change(function () {
            var appAvailableTotal0 = parseInt($("#ApplicationAvailableTotalAcceptedRequired").val());
            if (appAvailableTotal0 < 1) {
                showErrorMessage(1);
                $("#ApplicationAvailableTotalAcceptedRequired").val(1);
            }
            else {
                updateTotalRequired();
            }
        });
        $("#EndorsementTotalAcceptedRequired").change(function () {
            var endorsementTotal0 = parseInt($("#EndorsementTotalAcceptedRequired").val());
            if (endorsementTotal0 < 1) {
                showErrorMessage(1);
                $("#EndorsementTotalAcceptedRequired").val(1);
            }
            else {
                updateTotalRequired();
            }
        }); 
        $("#EndorsementCancellationTotalAcceptedRequired").change(function () {
            var endorsementcancelTotal0 = parseInt($("#EndorsementCancellationTotalAcceptedRequired").val());
            if (endorsementcancelTotal0 < 1) {
                showErrorMessage(1);
                $("#EndorsementCancellationTotalAcceptedRequired").val(1);
            }
            else {
                updateTotalRequired();
            }
        });
        $("#GuaranteeTotalAcceptedRequired").change(function () {
            var garanteeTotal0 = parseInt($("#GuaranteeTotalAcceptedRequired").val());
            if (garanteeTotal0 < 1) {
                showErrorMessage(1);
                $("#GuaranteeTotalAcceptedRequired").val(1);
            }
            else {
                updateTotalRequired();
            }
        });
        $("#EndMandateTotalAcceptedRequired").change(function () {
            var endMandateTotal0 = parseInt($("#EndMandateTotalAcceptedRequired").val());
            if (endMandateTotal0 < 1) {
                showErrorMessage(1);
                $("#EndMandateTotalAcceptedRequired").val(1);
            }
            else {
                updateTotalRequired();
            }
        });
        $("#ElectronicMandateTotalAcceptedRequired").change(function () {
            var electronicMandateTotal0 = parseInt($("#ElectronicMandateTotalAcceptedRequired").val());
            if (electronicMandateTotal0 < 1) {
                showErrorMessage(1);
                $("#ElectronicMandateTotalAcceptedRequired").val(1);
            }
            else {
                updateTotalRequired();
            }
        });
        $("#PaymentNotificationTotalAcceptedRequired").change(function () {
            var paymentNotificationTotal0 = parseInt($("#PaymentNotificationTotalAcceptedRequired").val());
            if (paymentNotificationTotal0 < 1) {
                showErrorMessage(1);
                $("#PaymentNotificationTotalAcceptedRequired").val(1);
            }
            else {
                updateTotalRequired();
            }
        });
        $("#CirculationLimitationTotalAcceptedRequired").change(function () {
            var circulationNotificationTotal0 = parseInt($("#CirculationLimitationTotalAcceptedRequired").val());
            if (circulationNotificationTotal0 < 1) {
                showErrorMessage(1);
                $("#CirculationLimitationTotalAcceptedRequired").val(1);
            }
            else {
                updateTotalRequired();
            }
        });
        $("#EndCirculationLimitationTotalAcceptedRequired").change(function () {
            var endcirculationNotificationTotal0 = parseInt($("#EndCirculationLimitationTotalAcceptedRequired").val());
            if (endcirculationNotificationTotal0 < 1) {
                showErrorMessage(1);
                $("#EndCirculationLimitationTotalAcceptedRequired").val(1);
            }
            else {
                updateTotalRequired();
            }
        });


        $('.btn-save').click(function () {

            var form = $('#edit-testset-form');
            if (form.valid()) {
                showLoading('#panel-form', 'Editando', 'Procesando datos, por favor espere.');
                form.submit();
            }
        });

        function updateTotal() {
            var noticeTotal = parseInt($("#ReceiptNoticeTotalRequired").val());
            var receiptServiceTotal = parseInt($("#ReceiptServiceTotalRequired").val());
            var expressAcceptanceTotal = parseInt($("#ExpressAcceptanceTotalRequired").val());
            var automaticAcceptanceTotal = parseInt($("#AutomaticAcceptanceTotalRequired").val());
            var rejectInvoiceTotal = parseInt($("#RejectInvoiceTotalRequired").val());
            var appAvailableTotal = parseInt($("#ApplicationAvailableTotalRequired").val());
            var endorsementTotal = parseInt($("#EndorsementTotalRequired").val());
            var endorsementCancelTotal = parseInt($("#EndorsementCancellationTotalRequired").val());
            var garanteeTotal = parseInt($("#GuaranteeTotalRequired").val());
            var electronicMandateTotal = parseInt($("#EndMandateTotalRequired").val());
            var endMandateTotal = parseInt($("#ElectronicMandateTotalRequired").val());
            var paymentNotificationTotal = parseInt($("#PaymentNotificationTotalRequired").val());
            var circulationNotificationTotal = parseInt($("#CirculationLimitationTotalRequired").val());
            var endcirculationNotificationTotal = parseInt($("#EndCirculationLimitationTotalRequired").val());

            $("#TotalDocumentRequired").val(noticeTotal + receiptServiceTotal + expressAcceptanceTotal + automaticAcceptanceTotal
                + rejectInvoiceTotal + appAvailableTotal + endorsementTotal + endorsementCancelTotal + garanteeTotal +
                electronicMandateTotal + endMandateTotal + paymentNotificationTotal + circulationNotificationTotal +
                endcirculationNotificationTotal);
        }

        function updateTotalRequired() {
            var noticeTotal0 = parseInt($("#ReceiptNoticeTotalAcceptedRequired").val());
            var receiptServiceTotal0 = parseInt($("#ReceiptServiceTotalAcceptedRequired").val());
            var expressAcceptanceTotal0 = parseInt($("#ExpressAcceptanceTotalAcceptedRequired").val());
            var automaticAcceptanceTotal0 = parseInt($("#AutomaticAcceptanceTotalAcceptedRequired").val());
            var rejectInvoiceTotal0 = parseInt($("#RejectInvoiceTotalAcceptedRequired").val());
            var appAvailableTotal0 = parseInt($("#ApplicationAvailableTotalAcceptedRequired").val());
            var endorsementTotal0 = parseInt($("#EndorsementTotalAcceptedRequired").val());
            var endorsementCancelTotal0 = parseInt($("#EndorsementCancellationTotalAcceptedRequired").val());
            var garanteeTotal0 = parseInt($("#GuaranteeTotalAcceptedRequired").val());
            var electronicMandateTotal0 = parseInt($("#EndMandateTotalAcceptedRequired").val());
            var endMandateTotal0 = parseInt($("#ElectronicMandateTotalAcceptedRequired").val());
            var paymentNotificationTotal0 = parseInt($("#PaymentNotificationTotalAcceptedRequired").val());
            var circulationNotificationTotal0 = parseInt($("#CirculationLimitationTotalAcceptedRequired").val());
            var endcirculationNotificationTotal0 = parseInt($("#EndCirculationLimitationTotalAcceptedRequired").val());

            $("#TotalDocumentAcceptedRequired").val(noticeTotal0 + receiptServiceTotal0 + expressAcceptanceTotal0 + automaticAcceptanceTotal0
                + rejectInvoiceTotal0 + appAvailableTotal0 + endorsementTotal0 + endorsementCancelTotal0 + garanteeTotal0 +
                electronicMandateTotal0 + endMandateTotal0 + paymentNotificationTotal0 + circulationNotificationTotal0 +
                endcirculationNotificationTotal0);
        }

        function showErrorMessage(total) {
            showNotification('warning', 'fa fa-check fa-2x', 'floating', 'Aviso.', 'El valor no puede ser inferior a ' + total);
        }
    </script>
}
