@using Gosocket.Dian.Domain.Common

@model Gosocket.Dian.Web.Models.OthersElectronicDocAssociatedViewModel
<div class="panel-footer text-right">
    <div class="form-group">
        @if (Model.ContributorTypeId == (int)OtherDocElecContributorType.TechnologyProvider)
        {
            <button type="button" class="btn btn-default btn-radian-default" id="view-costumers">Ver mis clientes asociados</button>
        }

        @*@Html.ActionLink("Configurar modo de operación", "SetupOperationMode", "OthersElectronicDocAssociated", new { Id = ViewBag.Id }, new { @class = "btn btn-default btn btn-radian-success" })*@
    </div>
</div>
